/* Services.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.services-page {
  background: #edf1f7;
  min-height: 100vh;
  padding: 16px;
}

/* HERO SECTION */

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%; 
  border-radius: 20px;
  overflow: hidden;

  background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1600&auto=format&fit=crop");
   background-size: cover;
  background-position: center;
}

/* DARK OVERLAY */

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(8, 12, 35, 0.75),
    rgba(255, 255, 255, 0.9)
  );
}

/* NAVBAR */

.navbar {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 34px 34px;
}

/* LEFT SECTION */

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-icon {
  width: 58px;
  height: 58px;
  border-radius: 40%;
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;

  cursor: pointer;
}

.menu-icon span {
  width: 16px;
  height: 1px;
  background: #151850;
  border-radius: 4px;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: 200;
}

/* CENTER NAV */

.nav-links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 45px;

  background: rgba(255, 255, 255, 0.9);

  padding: 18px 38px;
  border-radius: 60px;

  color: #12144d;

  font-size: 12px;   /* CHANGE THIS */
  font-weight: 300;  /* CHANGE THIS */
}

.nav-links li {
  cursor: pointer;
  transition: 0.1s;
}

.nav-links li:hover {
  color: #5f67ff;
}

/* BUTTON */

.ask-btn {
  background: black;
  color: white;

  border: none;
  padding: 18px 34px;

  border-radius: 20px;

  font-size: 12px;
  font-weight: 300;

  cursor: pointer;
  transition: 0.3s;
}

.ask-btn:hover {
  background: #1f1f1f;
}

/* SERVICES */
.services-link{
  display:inline-flex;
  align-items:center;
  gap:10px;

  color:white;
  font-size:15px;
  font-weight:500;
  left: 90px;

  cursor:pointer;

  position:relative;
}

/* arrow */
.arrow{
  font-size:30px;
  line-height:1;

  transition:0.3s;
}

/* hover effect */
.services-link:hover .arrow{
  transform:translateX(6px);
}

/* TITLE */

.hero-content {
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 120%;
}

.hero-content h1 {
  font-size: 65px;
  font-weight: 400;
  align-items: flex-end;
  color: #111;
}

/* RESPONSIVE */

@media (max-width: 1000px) {
  .nav-links {
    gap: 25px;
    font-size: 16px;
    padding: 14px 24px;
  }

  .logo {
    font-size: 40px;
  }

  .hero-content h1 {
    font-size: 90px;
  }
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content h1 {
    font-size: 70px;
  }

  .breadcrumb {
  position: relative;
  z-index: 5;

  margin-left: 70px;
  margin-top: 30px;

  color: white;

  font-size: 16px;   /* CHANGE THIS */

  display: flex;
  align-items: center;
  gap: 12px;
}
}

@media (max-width: 600px) {
  .hero-section {
    height: auto;
    padding-bottom: 60px;
  }

  .logo {
    font-size: 32px;
  }

  .nav-links {
    gap: 14px;
    font-size: 9px;
    border-radius: 12px;
  }

  .ask-btn {
    padding: 10px 14px;
    font-size: 9px;
  }
}

/* ABOUT SERVICES SECTION */

.about-services{
  width:100%;
  min-height:200px;

  background:#f5f5f5;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:80px 60px;
}

/* LEFT */

.about-left{
  width:20%;
  align-items:center;
}

.about-left h1{
  font-size:30px;
  color:#111;
  font-weight:500;
}

/* RIGHT */

.about-right{
  width:45%;
}

.about-right p{
  font-size:18px;
  line-height:1.7;
  color:#111c5a;
}

.about-right a{
  display:inline-block;
  margin-top:20px;

  font-size:18px;
  color:#111c5a;

  text-decoration:none;
  border-bottom:2px solid #111c5a;
}
/* WHAT'S HAPPENING */

.whats-container{
  width:100%;
  background:#e7ebf3;

  padding:90px 40px;
}

/* TITLE */

.main-title{
  text-align:center;
  font-size:30px;
  color:#111c5a;
  font-weight:bold;
}

.sub-title{
  text-align:center;
  margin-top:15px;

  font-size:15px;
  color:#111c5a;
}

/* CARDS */

.cards-container{
  margin-top:50px;

  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
   gap:20px;
}

/* SINGLE CARD */

.news-card{
  width:520px;
  background:white;
  border-radius:20px;
  overflow:hidden;
}

/* IMAGE */

.news-card img{
  width:100%;
  height:250px;
  object-fit:cover;
}

/* CARD CONTENT */

.card-content{
  background:white;
 margin:-50px 20px 20px 20px;
 position:relative;
  z-index:1;
  border-radius:20px;
  padding:20px;
}

/* TAG */

.tag{
  background:#1d1464;
  color:white;
   padding:10px 12px;
   border-radius:8px;
   font-size:12px;
}

/* HEADING */

.card-content h2{
  margin-top:20px;
  font-size:18px;
  line-height:1.1;
  color:#111c5a;
}

/* BUTTON */

.read-btn{
  margin-top:15px;
  background:black;
  color:white;
  border:none;
  padding:15px 25px;
  border-radius:12px;
  font-size:14px;
  cursor:pointer;
  float:right;
}

.read-btn:hover{
  background:#222;
}

/* OFFERINGS SECTION */

.offerings-wrapper{
  width:90%;
  margin:auto;

  background:white;

  border-radius:25px;

  overflow:hidden;

  box-shadow:0px 10px 40px rgba(0,0,0,0.08);
}

.offerings-section {
  width: 100%;
  min-height: 100vh;

  background: #edf1f7;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 50px;
  gap: 20px;

  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* LEFT SIDE */

.offerings-left {
  width: 35%;
}

/* HEADING */

.offerings-left h1 {
  font-size: 32px;
  color: #111;
  margin-bottom: 30px;
}

/* PARAGRAPH */

.offerings-left p {
  font-size: 18px;
  line-height: 1.7;

  color: #333;

  margin-bottom: 30px;
}

/* ACTIVE MENU BOX */

.menu-box {
  width: 100%;

  background: white;

  padding: 35px 30px;

  border-radius: 15px;

  display: flex;
  align-items: center;

  gap: 14px;

  margin-bottom: 35px;

  box-sizing: border-box;
}

/* BLUE LINE */

.blue-line {
  width: 4px;
  height: 30px;

  background: #3468ff;

  border-radius: 5px;
}

/* ACTIVE TEXT */

.menu-box span {
  font-size: 21px;
  font-weight: 300;

  color: #101b63;
}

/* OTHER MENU TEXT */

.menu-text {
  font-size: 21px;

  color: #55608f;

  margin-bottom: 45px;
  margin-left: 30px;

  cursor: pointer;
}

/* RIGHT SIDE */

.offerings-right {
  width: 54%;
}

/* IMAGE */

.offerings-right img {
  width: 100%;
  height: 400px;

  object-fit: cover;

  display: block;

  border-radius: 0px;
}

/* LINKS SECTION */

.links-section {
  background: white;

  display: flex;
  justify-content: space-between;

  padding: 45px 50px;

  box-sizing: border-box;
}

/* LINKS COLUMN */

.links-column {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

/* LINKS */

.links-column a {
  text-decoration: none;

  font-size: 15px;

  color: #101b63;

  border-bottom: 2px solid #101b63;

  width: fit-content;

  padding-bottom: 4px;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .offerings-section {
    flex-direction: column;
    padding: 40px 20px;
  }

  .offerings-left,
  .offerings-right {
    width: 100%;
  }

  .offerings-left h1 {
    font-size: 20px;
  }

  .offerings-left p {
    font-size: 22px;
  }

  .menu-text {
    font-size: 15px;
  }

  .links-section {
    flex-direction: column;
    gap: 20px;
  }

  .links-column a {
    font-size: 14px;
  }
}

/* SECTION */

.success-section{
  width:100%;
  min-height:100vh;

  background:#edf1f7;

  padding:80px;

  box-sizing:border-box;

  font-family:Arial, sans-serif;
}

/* TOP */

.success-top{
  display:flex;

  justify-content:space-between;

  align-items:flex-start;

  margin-bottom:60px;
}

/* HEADING */
.success-top h3{
  font-size:17px;

  color:#2b2675;

  margin-bottom:12px;

  font-weight:400;
}
  
.success-top h1{
  font-size:27px;

  color:#111;

  margin-bottom:20px;
}

/* PARAGRAPH */

.success-top p{
  width:900px;

  font-size:14px;

  line-height:1.4;

  color:#333;
}

/* SLIDER BUTTONS */

.slider-buttons{
  display:flex;

  align-items:center;

  gap:15px;

  margin-top:20px;
}

.slider-buttons span{
  font-size:12px;

  color:#222;
}

/* BUTTON */

.arrow-btn{
  width:30px;
  height:30px;

  border:none;

  border-radius:14px;

  font-size:25px;

  cursor:pointer;
}

.arrow-btn.light{
  background:#bfc1c7;
  color:white;
}

.arrow-btn.dark{
  background:black;
  color:white;

  box-shadow:0px 10px 30px rgba(0,0,0,0.2);
}

/* CARD */

.story-card{
  width:100%;

  background:white;

  border-radius:20px;

  overflow:hidden;

  display:flex;

  align-items:stretch;

  gap:0;

  box-shadow:0px 10px 40px rgba(0,0,0,0.08);
}

/* IMAGE SIDE */

.story-image{
  width:55%;
}

.story-image img{
  width:100%;
  height:100%;

  object-fit:cover;

  display:block;
}

/* CONTENT SIDE */

.story-content{
  width:45%;

  padding:50px 35px;

  box-sizing:border-box;

  display:flex;

  flex-direction:column;

  justify-content:center;
}
/* CASE STUDY */

.case-study{
  background:#2b2675;

  color:white;

  width:fit-content;

  padding:6px 12px;

  border-radius:6px;

  font-size:12px;

  font-weight:400;

  margin-bottom:20px;
}

/* TITLE */

.story-content h2{
  font-size:25px;

  line-height:1.2;

  color:#222;

  margin-bottom:20px;
}

/* TEXT */

.story-content p{
  font-size:13px;

  line-height:1.5;

  color:#444;

  margin-bottom:20px;
}

/* BUTTON */

.know-more{
  width:120px;
  height:45px;

  border:none;

  border-radius:12px;

  background:black;

  color:white;

  font-size:14px;

  cursor:pointer;
}

/* SECTION */

.insights-section{
  width:100%;
  min-height:100vh;

  background:rgb(210, 203, 203);

  padding:30px;

  box-sizing:border-box;

  font-family:Arial, sans-serif;
}

/* TOP */

.insights-top{
  text-align:center;

  margin-bottom:40px;
}

/* SMALL TITLE */

.insights-top h4{
  font-size:18px;

  color:#3456ff;

  letter-spacing:0px;

  margin-bottom:20px;
}

/* MAIN TITLE */

.insights-top h1{
  font-size:27px;

  color:#111;
  letter-spacing:0px;

  margin-bottom:20px;
}

/* PARAGRAPH */

.insights-top p{
  font-size:14px;

  line-height:1.2;

  color:#444;

  width:500px;

  margin:auto;
}

/* CONTAINER */

.insights-container{
  display:flex;

  gap:0px;

  align-items:flex-start;
}

/* LEFT IMAGE */

.insights-image img{
  width:85%;

  height:450px;

  object-fit:cover;

  border-radius:20px;

  display:block;
}

/* RIGHT SIDE */

.insights-right{
  width:50%;

  display:flex;

  flex-direction:column;

  gap:10px;

  max-height:450px;

  overflow-y:auto;

  padding-right:10px;
}

/* CARD */

.insight-card{
  background:white;

  padding:40px;

  border-radius:18px;

  min-height:150px;

  display:flex;

  flex-direction:column;
  box-shadow:0px 5px 20px rgba(0,0,0,0.06);

  justify-content:space-between;
}


/* CARD TITLE */

.insight-card h2{
  font-size:18px;

  line-height:1.2;

  color:#151b54;

  margin-bottom:20;

  text-decoration:underline;
}

/* READ MORE RIGHT SIDE */

.insight-card a{
  align-self:flex-end;

  font-size:14px;

  color:#16175c;

  text-decoration:none;

  border-bottom:2px solid #16175c;

  padding-bottom:4px;

  margin-top:40px;
}

/* SCROLLBAR */

.insights-right::-webkit-scrollbar{
  width:3px;
}

.insights-right::-webkit-scrollbar-thumb{
  background:#c8c8c8;

  border-radius:10px;
}

.footer{
  width:100%;
  background:#f3f3f3;
  padding:50px 60px 30px;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

.footer-container{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  gap:20px;
}

.footer-column{
  width:20%;
  display:flex;
  flex-direction:column;
}

.footer-column h3{
  font-size:15px;
  color:#233a8b;
  margin-bottom:16px;
}

.footer-column a{
  text-decoration:none;
  color:#3a4785;
  font-size:13px;
  margin-bottom:15px;
  border-bottom:1px solid #3a4785;
  width:fit-content;
}

.footer-bottom{
  margin-top:30px;
  padding-top:20px;
  border-top:1px solid #d6d6d6;

  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:15px;
}

.location-btn{
  padding:15px 30px;
  border:none;
  background:#e6e8f1;
  border-radius:10px;
  font-size:18px;
  cursor:pointer;
}

.social-icons{
  display:flex;
  gap:15px;
  font-size:15px;
  color:#3a4785;
}

.footer-bottom p{
  font-size:15px;
  color:#3a4785;
}

/* Services menu */
.services-menu{
  position: relative;
  z-index: 100;
}

.dropdown-box{
  position: absolute;
  top: 50px;
  left: 70px;

  width: 900px;

  background: white;
  border-radius: 20px;

  padding: 20px;

  display: flex;
  justify-content: space-between;

  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

.column{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column p{
  color: #2d3e75;
  font-size: 14px;
  cursor: pointer;
}

.column p:hover{
  color: black;
}

/* menu-icon */
/* SIDEBAR BASE */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px; /* hidden */
  width: 300px;
  height: 100vh;
  background: #f5f7fa;
  padding: 20px;
  transition: 0.3s ease;
  z-index: 1000;
}

/* WHEN ACTIVE */
.sidebar.active {
  left: 0;
}

/* CLOSE BUTTON */
.close-btn {
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* SIDEBAR */
.sidebar{
  position:flex;
  top:0;
  left:-100%;
  width:100%;
  height:100vh;
  background:#f4f4f4;
  display:flex;
  transition:0.5s;
  z-index:999;
}

.sidebar.active{
  left:0;
}

/* CLOSE BUTTON */
.close-btn{
  position:absolute;
  top:10px;
  left:10px;
  width:40px;
  height:60px;
  border-radius:50%;
  background:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:25px;
  cursor:pointer;
}

/* LEFT SIDE */
.left-menu{
  width:25%;
  background:#dfe3ea;
  padding-top:50px;
  padding-left:20px;
}

.left-menu ul{
  list-style:none;
}

.left-menu li{
  margin-bottom:17px;
  font-size:17px;
  color:#1f2d3d;
  cursor:pointer;
}

.active-item{
  background:white;
  padding:17px;
  border-radius:12px;
  border-left:5px solid blue;
  width:80%;
}

.bottom-links{
  margin-top:30px;
}

/* RIGHT SIDE */
.right-content{
  width:75%;
  padding:50px 40px;
  overflow-y:auto;
}

.right-content h1{
  font-size:30px;
  margin-bottom:40px;
}

/* CARDS */
.card-container{
  display:flex;
  gap:30px;
}

.big-card{
  width:50%;
  position:relative;
}

.big-card img{
  width:100%;
  height:500px;
  object-fit:cover;
  border-radius:20px;
}

.small-cards{
  width:50%;
  display:flex;
  flex-direction:column;
  gap:30px;
}

.small-card{
  position:relative;
}

.small-card img{
  width:100%;
  height:235px;
  object-fit:cover;
  border-radius:20px;
}

/* CARD OVERLAY */
.card-overlay{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:30px;
  background:linear-gradient(
    transparent,
    rgba(0,0,0,0.9)
  );
  color:white;
  border-radius:20px;
}

.card-overlay h2,
.card-overlay h3{
  margin-bottom:20px;
}

.card-overlay a{
  color:white;
  font-size:16px;
  text-decoration:none;
  font-weight:bold;
}

/* INDUSTRIES */
.industries-container{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.industry-box{
  flex:1;
  background:#e8ebf3;
  padding:20px;
  border-radius:20px;
}

.industry-box p{
  font-size:14px;
  margin-bottom:30px;
  color:#111;
  cursor:pointer;
}

/* RIGHT CONTENT */
.right-content{
  flex:1;
  padding:40px;
  overflow-y:auto;
}

/* SERVICES GRID */
.services-grid{
  display:grid;
  grid-template-columns:repeat(3, minmax(280px, 1fr));
  gap:30px;
  margin-top:30px;
}

/* SERVICE CARD */
.service-box{
  background:#e9edf5;
  padding:30px;
  border-radius:20px;
  min-height:150px;
  width:100%;
  box-sizing:border-box;
}

.service-box h2{
  font-size:20px;
  margin-bottom:10px;
  color:#111;
}

.service-box hr{
  border:none;
  border-top:1px solid #c7d3ff;
  margin-bottom:10px;
}

.service-box p{
  font-size:14px;
  margin-bottom:20px;
  color:#111;
  cursor:pointer;
}

/* SIDEBAR */
.sidebar{
  position:fixed;
  top:0;
  left:-100%;
  width:100%;
  height:100vh;
  background:#f4f4f4;
  display:flex;
  transition:0.4s;
  z-index:9999;
}

.sidebar.active{
  left:0;
}

/* PLATFORMS PAGE */
.platforms-container{
  display:flex;
  gap:15px;
  margin-top:20px;
}

.platform-box{
  background:#eef2f9;
  padding:20px;
  border-radius:20px;
  width:450px;
}

.platform-box p{
  font-size:15px;
  margin-bottom:30px;
  cursor:pointer;
}

.platform-box p:hover{
  color:blue;
}

.right-content h1{
  font-size:25px;
  margin-bottom:20px;
}

/* KNOWLEDGE PAGE */
.knowledge-container{
  display:flex;
  gap:20px;
  margin-top:40px;
}

.knowledge-box{
  background:#f0f2f7;
  padding:20px;
  border-radius:20px;
  width:450px;
  min-height:300px;
}

.knowledge-box h2{
  font-size:20px;
  margin-bottom:15px;
}

.knowledge-box hr{
  border:none;
  height:1px;
  background:#c7d2fe;
  margin-bottom:30px;
}

.knowledge-box p{
  font-size:15px;
  margin-bottom:25px;
  cursor:pointer;
}

.knowledge-box p:hover{
  color:rgb(22, 22, 110);
}

/* ABOUT PAGE */
.about-container{
  display:flex;
  gap:20px;
  margin-top:30px;
}

.about-box{
  background:#eef2f9;
  padding:20px;
  border-radius:20px;
  width:450px;
  min-height:400px;
}

.about-box p{
  font-size:15px;
  margin-bottom:20px;
  cursor:pointer;
  color:#111;
}

.about-box p:hover{
  color:blue;
}